@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, sans-serif;
}

